<mat-nav-list>
  <mat-accordion>
    <div class="menu-item-without-submennu">
      <a mat-list-item routerLink="['/']">
        <mat-icon class="icon-margin" aria-label="group" outline>dashboard-customize</mat-icon>
        Dashboard
      </a>
    </div>
    <div class="menu-block">
      <h6 class="menu-title">Sales</h6>
      <div class="list-padding">
        <a mat-list-item class="sub-list" routerLinkActive="active">
          <mat-icon class="icon-margin" aria-label="group" outline>list_alt</mat-icon>POS
        </a>
        <a mat-list-item class="sub-list" routerLinkActive="active">
          <mat-icon class="icon-margin" aria-label="group" outline>list_alt</mat-icon>Order List
        </a>
        <a mat-list-item class="sub-list" routerLinkActive="active">
          <mat-icon class="icon-margin" aria-label="group" outline>list_alt</mat-icon>Stock List
        </a>

      </div>
    </div>
  </mat-accordion>
</mat-nav-list>
